*:focus {
    outline: none !important;
}

#MagicCircle {
    cursor: pointer;
}

#MagicCircle *:not(#L3-L1, #L3-L2, #L3-L3, #L3-ITSM):hover {
    stroke: black;
    stroke-width: 3px;
}

#MagicCircle *:active {
    fill-opacity: 0.5;
    stroke-width: 3px;
    filter: url(#inset-shadow);

}

#L3-L1:hover, #L3-L2:hover, #L3-L3:hover, #L3-ITSM:hover {
    fill-opacity: 0.15;
}
.svg-layer {
    position: absolute;
    z-index: 999;
}

.svg-layer__circle {
    width: 800px;
    height: 800px;
}

.img-layer img {
    position: absolute;
    width: 800px;
}
.header-preview {
    border-bottom: none;
}
.modal-footer {
    display: flex;
    justify-content: space-between;
}
.modal-footer .btn {
  min-width: 138px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  
}

.modal-footer .btn-secondary {
    color: #333752;
    background: transparent;
    border: 1px solid #D7DBEC;
}

/* .modal-body::-webkit-scrollbar {
    width: 10px;
}
   
.modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #F5F6FA;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #336DFF;
    outline: 1px solid transparent;
} */